.nav li {
  font-weight: lighter;
  font-size: 1rem;
  letter-spacing: 0.3rem;
}

.banner .nav li {
  @extend .nav-item;
}

.banner .nav a {
  @extend .nav-link;
}

.icon {
  width: 100px;
  height: 100px;
}
