/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$primary: #a4c3a4;
$secondary: #fdeaea;

$theme-colors: (
  primary: $primary,
  secondary: $secondary,
);

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;

/** Hamburger icon */
$hamburger-padding-x: 0;
$hamburger-padding-y: 0;
$hamburger-layer-width: 20px;
$hamburger-layer-height: 2px;
$hamburger-layer-spacing: 4px;
$hamburger-layer-color: $primary;
$hamburger-types: (vortex);

$embed-responsive-aspect-ratios: (
  (24 9),
);
